<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:
      </h2>
      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label 'Product Name', class: 'form-control col-2 text-right' %>
    <%= form.text_field :name, class: 'form-control col-4', disabled: !(can? :create, Product) %>
  </div>

  <div class="form-group row">
    <%= form.label 'Product package', class: 'form-control col-2 text-right' %>
    <%= form.text_field :package, class: 'form-control col-4', disabled: !(can? :create, Product) %>
  </div>

  <div class="form-group row">
    <%= form.label :manufacturing_date, class: 'form-control col-2 text-right' %>
    <%= form.text_field :manufacturing_date, class: 'form-control col-4 datetimepicker-input', disabled: !(can? :production_update, Product), 'data-toggle' => 'datetimepicker', 'data-target' => "#product_manufacturing_date" %>
  </div>

  <div class="form-group row">
    <%= form.label :product_code, class: 'form-control col-2 text-right' %>
    <%= form.text_field :product_code, class: 'form-control col-4', disabled: !(can? :production_update, Product) %>
  </div>

  <div class="form-group row">
    <%= form.label 'Application', class: 'form-control col-2 text-right' %>
    <%= form.text_area :description, class: 'form-control col-4', disabled: !(can? :create, Product) %>
  </div>

  <div class="form-group row">
    <%= form.label :data_sheet_url, class: 'form-control form-control col-2 text-right' %>
    <%= form.text_field :data_sheet_url, class: 'form-control col-10', disabled: !(can? :create, Product) %>
  </div>

  <div class="form-group row">
    <%= form.label :safety_sheet_url, class: 'form-control col-2 text-right' %>
    <%= form.text_field :safety_sheet_url, class: 'form-control col-10', disabled: !(can? :create, Product) %>
  </div>


  <div class="form-group row">
    <div class="col-3"></div>
    <div class="col-2">
      <%= form.submit 'Save', class: 'btn btn-lg btn-success pull-right' %>
    </div>
    <div class="col-2">
      <%= link_to 'Cancel', products_path, class: 'btn btn-lg btn-warning pull-right' %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $(function () {
    $('#product_manufacturing_date').datetimepicker({
      format: 'L',
      locale: 'en',
      format: 'DD/MM/YYYY'
    });
    $('#product_manufacturing_date').val('<%= date_format(@product.manufacturing_date) %>');
  });
</script>