<div class="container">
  <div class="row">
    <div class="col-3">
      <% if @product.complete? %>
        <img class="qr-code img-responsive" src="<%= generate_qr(@product) %>"/>
      <% end %>      
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-4">
          <strong>Name:</strong>
        </div>
        <div class="col-8">
          <%= @product.name %>
        </div>
        <div class="col-4">
          <strong>Product package:</strong>
        </div>
        <div class="col-8">
          <%= @product.package %>
        </div>
        <div class="col-4">
          <strong>Manufactured date:</strong>
        </div>
        <div class="col-8">
          <%= date_format @product.manufacturing_date %>
        </div>
        <div class="col-4">
          <strong>Product code:</strong>
        </div>
        <div class="col-8">
          <%= @product.product_code %>
        </div>
        <div class="col-4">
          <strong>Application:</strong>
        </div>
        <div class="col-8">
          <%= @product.description %>
        </div>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <strong>Product data sheet:</strong>
    </div>
    <div class="col-9">
      <%= link_to @product.data_sheet_url, @product.safety_sheet_url, target: "_blank?" %>
    </div>
    <div class="col-3">
      <strong>Material Safety sheet:</strong>
    </div>
    <div class="col-9">
      <%= link_to @product.safety_sheet_url, @product.safety_sheet_url, target: "_blank?" %>
    </div>
  </div>
</div>